.controller {
  float: left;
}

.forward, .backward, .left, .right {
  padding: 2%;
  position: absolute;
  font-size: 200%;
  border-radius: 10px;
  transition: 200ms;
  color: whitesmoke;
  background-color: rgb(32, 170, 163)
}

.forward {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.backward {
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.left {
  top: 60%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.right {
  top: 60%;
  left: 60%;
  transform: translate(-50%, -50%);
}

.forward:hover, .backward:hover, .left:hover, .right:hover {
  padding: 3%;
  color: black;
  background-color: rgb(240, 255, 244)
}

.middle > ul > li {
  display: block;
  position: relative;
  background-color: rgb(106, 93, 231);
  color: white;
  font-size: 150%;
  margin: 1% 5%;
  padding: 15px;
}

.middle > ul > li > button {
  position: relative;
  padding: 5px 15px;
  right: 0%;
  font-size: 110%;
}

.middle {
  position: absolute;
  background-color: rgb(241, 201, 201);
  top: 110%;
  left: 50%;
  width: 50%;
  height: 50%;
  overflow: scroll;
  border-radius: 5px;
  transform: translate(-50%, -50%);
}

.btn {
  position: absolute;
  padding: 20px;
  font-size: 150%;
  border-radius: 50%;

}

.start {
  background-color: rgb(54, 214, 54);
  top: 20%;
  left: 80%;
}

.stop {
  background-color: red;
  top: 20%;
  left: 90%;
}

.duration {
  position: absolute;
  top: 20%;
  left: 10%;
  padding: 10px;
  font-size: 150%;
  width: 10%;
  font-family: Arial;
}

.duration > input {
  padding: 10%;
  width: 70%;
  font-size: 120%;
}

.speed {
  position: absolute;
  top: 35%;
  left: 10%;
  padding: 10px;
  font-size: 150%;
  width: 10%;
  font-family: Arial;
}

.speed > input {
  padding: 10%;
  width: 70%;
  font-size: 120%;
}

.explore {
  position: fixed;
  top: 65%;
  background-color: rgb(78, 10, 143);
  padding: 1%;
  color: white;
  border-radius: 5px;
  box-shadow: 2px;
}

input[text] {
  padding-top: 5px;
  padding-bottom: 5px;
}
